fl-left#fl-main{
	margin-top:50px;
}
.fl-diary-write h3{
	letter-spacing: 1px;
	color:
}
.fl-diary-write select,.fl-diary-write input,.fl-writeDiary-btn,.fl-diary-write button{
	margin-bottom: 10px;
}
.fl-diary{
	border:2px solid #9D9D9D;
	margin:0 10px 20px 0;
	border-radius: 5px;
	background: #fff;
}
.fl-diary h4,.fl-diary p{
	color:#6A6868;
}
.fl-diary-tab p{
	text-indent:2em;
	letter-spacing:0.5px;
	line-height:1.5;
	padding:0 20px 20px 20px;
	word-break:break-all;
	word-wrap:break-word;
}
.fl-diary-tab h4{
	padding:10px 0;
}
.fl-diary-title p{
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.fl-diary-title p{
	cursor: pointer;
}
.fl-left{
	float:right;
}
.fl-right{
	border:2px solid #ccc;
	background: #fff;
	border-radius:5px;
	float: left;
	margin-bottom:20px;
}
.fl-right img{
	border:1px solid #ccc;
	width:70px;
	height:70px;
	border-radius:50px;
	margin-top: 10px;
}
.fl-right select{
	display: block;
	margin:0 auto 10px auto;
}
.fl-diary-title ul li{
	line-height:2;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.fl-diary-title ul li a:hover{
	cursor: pointer;
	color:#EF95A8;
}
#fl-add-group input,#fl-del-group input{
	margin-top: 10px;
}
#fl-add-group button,#fl-del-group button{
	margin-top: 10px;
	float:right;
}
.ui-draggable-handle{
	border:none;
	border-bottom: 1px solid #ccc;
	background: #fff;
}
@media (min-width: 400px) {
	.fl-left{
		float:left;
	}
	.fl-right{
		float:right;
	}
	
}

