#more{
	position:relative;
	left:-13px;
	background-color: #e0b68f;
}
#loading {  
	margin: auto;
	text-align: center;
} 
#fl-footer{
	margin-top:50px;
}
.fl-share{
	background:#DEDDD8;
}
.fl-share-publish{
	margin:0 10px;
}
.fl-share-publish ul{
	margin:-1px 0 2px 0;
}
.fl-share-publish ul li a{
	font-size: 12px;
}
.fl-share-publish ul li a:hover{
	background: #ccc;
}
.fl-share-publish h5{
	line-height: 40px;
	height: 40px;
	font-size: 18px;
	font-family: "DroidSansFallback";
}
.fl-share-publishMain{
	width:100%;
	line-height: 20px;
	border:2px solid #ccc;
	font-size: 18px;
}
.fl-share li a{
	color:#000;
}
.fl-navbar-left{
	margin:0 auto 10px auto;
	width:91%;
	background: #DEDDD8;
	border-radius:10px;
}
.fl-navbar-left .fl-page-title{
	font-size: 65px;
	font-family:'GoodVibrationsR9d7d6b9c3189d8';
}
.fl-navbar-left .fl-navbarLeft-search{
	width:95%;
}
.fl-navbar-left .fl-navbarLeft-search .glyphicon-search{
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
}
.fl-navbar-left .fl-navbarLeft-search .form-control{
	margin-top:1.2px;
	border-radius:20px;
}
/*.fl-navbar-left p,.fl-navbar-left ul li a,.fl-navbar-left ul li span{
	color:#fff;
}*/
.fl-navbar-left li a{
	display: block;
	border-radius: 0;
	line-height: 20px;
	font-size:14px;
}
.fl-navbar-left li a:hover,.fl-navbar-left li:hover{
	background: #B4AEA2;
	color:#000;
}
/*.fl-navbar-left .fl-navbar-group{}*/
.fl-navbar-left .fl-navbar-group a{
	display: block;
	line-height: 35px;
	padding:0 0 0 15px;
/*	background: redl;*/
/*	float:left;*/
}
.fl-navbar-group span{
	line-height: 35px;
	float:right;
	padding-right:10px;
}
.fl-navbar-group .dropdown-menu{
	width:220px;
}
.dropdown-menu{
	position: inherit;
	border-radius: 0;
}


.fl-dynamic{
	background: #B97A57;
	margin-bottom: 6px;
}
.fl-dynamic .nav-justified li a{
	border:none;
}
.fl-dynamic .fl-dynamic-img{
	margin-top: 20px;
	width: 45px;
	height:45px;
	border-radius: 50px;
}
.fl-dynamic ul li a:hover,.fl-dynamic ul li a:hover{
	color:#000;
	border:none;
	background: #B97A57;
}
.fl-id{
	font-size:16px;
}
.fl-time{
	font-size:12px;
}
.fl-Content{
	font-size:13px;
}

.fl-easy-introduction{
	text-align: center;
}
.fl-easy-introduction img{
	width:70px;
	height: 70px;
	margin-top:20px;
	border-radius: 50px;
	transition: all 0.2s;
}
.fl-easy-introduction img:hover{
	transform: scale(1.1,1.1);
}
.fl-easy-introduction h4{
	color:#fff;
	margin-bottom: 30px;
}
.fl-easy-introduction p{
	color:#fff;
}
.fl-desireTree{
	height:500px;
	margin:5px 0 0 0
}
.fl-desireTree img{
	width: 100%;
	height: 250px; 
	margin-bottom:10px;
	border:2px solid #D4D4D4;
	box-shadow: 2px 2px 3px #D4D4D4;
}
.fl-desireTree textarea{
	color:#9D9D9D;
	border:2px solid #9D9D9D;
	box-shadow: 2px 2px 3px #9D9D9D;
}
.fl-desireTree .fl-desire-submit{
	float:right;margin:5px 0;border:2px solid #9D9D9D;
}

.fl-comment-parent li{
	width:23%;
	display: inline-block;
}
.fl-comment-parent li a{
	line-height: 30px;
	padding: 0;
	font-size: 12px;
}
.fl-comment .col-md-1 img{
	width:37px;
	height:37px;
	margin-top: 12px;
}
.fl-comment .fl-commentText{
	margin-top: 10px;
	border:2px solid #B97A57;
}
.fl-commentSubmit{
	border-bottom:2px solid #9D6452;
}
.fl-commentSubmit input{
	float: right;
	margin-bottom:10px;
}
.fl-comment .fl-replyArea textarea{
	margin-top: 10px;
	border:2px solid #B97A57;
}
.fl-comment .fl-replyArea input{
	float:right;margin: 5px 0;
	font-size: 13px;
}
.fl-comment .fl-commentHead img{
	width:35px;
	height:35px;
}
@media (min-width: 400px){
	.fl-id{
	font-size:18px;
	}
	.fl-time{
		font-size:14px;
	}
	.fl-Content{
		font-size:15px;
	}
	.fl-comment-parent li a{
		font-size: 14px;
	}
}
@media (min-width: 768px){
	.fl-navbar-left{
		width: 160px;
		position:fixed;
		border-bottom-right-radius:10px;
		border-bottom-left-radius:10px;
	}
	.fl-navbar-left .fl-page-title{
		font-size: 35px;
	}
	.fl-navbar-group .dropdown-menu{
		width:160px;
	}
	.fl-dynamic ul li{
		border-top:1px solid #666;
	}
}
@media (min-width: 992px){
	.fl-navbar-left{
		width: 180px;
		position:fixed;
		border-bottom-right-radius:10px;
		border-bottom-left-radius:10px;
	}
	.fl-navbar-left .fl-page-title{
		font-size: 40px;
	}
	.fl-navbar-group .dropdown-menu{
		width:180px;
	}
}
@media (min-width:1200px) {
	.fl-navbar-left{
		width: 190px;
		position:fixed;
		border-bottom-right-radius:10px;
		border-bottom-left-radius:10px;
	}
	.fl-navbar-left .fl-page-title{
		font-size: 45px;
	}
	.fl-navbar-group .dropdown-menu{
		width:190px;
	}
}
