#fl-footer{
	margin-top:50px;
}
#fl-section-cover{
	margin-top:50px; 
}
#fl-section-cover .container{
	position: relative;
}
#fl-section-cover .fl-cover-button{
	width:70px;
	height:20px;
	font-size: 12px;
	position: absolute;
	right:2px;
	top:5px;
	margin:0;
	padding:2px;
}
#fl-section-cover .fl-cover-float{
	position: absolute;
	margin:0 auto;
}
#fl-section-cover .fl-cover-img img{
	height: 220px;
}
#fl-section-cover .fl-cover-float .fl-cover-icon{
	width: 80px;
	height: 80px;
	border:2px solid #ccc;
	border-radius: 50px;
}
#fl-section-cover .fl-cover-float .fl-cover-icon:hover{
	/*border:2px solid #EF95A8; */
}
#fl-section-cover .fl-cover-float .fl-cover-id{
/*	position: absolute;*/
	margin:25px 0 8px 0; 
	font-size: 18px;
}
#fl-section-cover .fl-cover-float .fl-cover-signature{
	cursor: pointer;
	font-size: 13px;
}
.fl-btn-closeHeadphoto{
	/*padding: 0 10px;*/
	position: absolute;
	left:0;
	bottom: 5px;	
}
.fl-signature-input{
	display: none;
	height: 27px;
}

.fl-addFriend-btn,.fl-hadAddfriend-btn{
	background: #5A5F68;
	border:none;
	margin-top:10px;
	color:#fff;
}
.fl-addFriend-btn:hover,.fl-addFriend-btn:focus,.fl-addFriend-btn:active{
	background: #44464A;
	color:#fff;
}
.fl-praise-btn{
	background: #5A5F68;
	border:none;
	margin-top:10px;
	color:#fff;
}
.fl-praise-btn:hover,.fl-praise-btn:focus,.fl-praise-btn:active{
	background: #44464A;
	color:#fff;
}
.fl-hadAddfriend-btn:hover,.fl-hadAddfriend-btn:focus,.fl-hadAddfriend-btn:active{
	background: #44464A;
	color:#fff;
}
#fl-friendGroup label{
	width:100px;
	line-height: 20px;
}
#fl-friendGroup h4{
	line-height: 30px;
	border-bottom:1px solid #9D9D9D;
	font-size: 16px;
}
.fl-keep-btn{
	margin:20px 0 20px 70px;
	width:150px;
}
.fl-friendGroup-checkbox{
	height:150px;
	background: #eee;
}

#fl-tabs{
	/*text-align: center;*/
	background: none;
	border:none;
}
#fl-tabs .fl-tabs-link{
	/*margin:0 auto;
	text-align: center;*/
	background: #eee;
	border:none;
}
#fl-tabs .fl-tabs-link a:hover{
	margin-bottom: -2px;
	border-bottom: 2px solid #EF95A8;
}
#fl-tabs .fl-tabs-link a{
	color:#000;
}
.fl-tab1-publish h5{
	font-size: 20px;
	font-family:'CTXingKaiSJ9f7206dff189d8';
}
#fl-tabs .fl-tab1-publishMain{
	line-height: 20px;
	border:2px solid #ccc;
	height: 300px;
	font-size: 18px;
}
#fl-tab1 .fl-personal-dynamic{
	margin-top: 10px;
	padding-top:10px;
	background:#B97A57;
}
#fl-tab1 .fl-dynamic-img{
	width:60px;
	height:60px;
	border-radius: 50px;
}
#fl-tab1 ul li a{
	font-size: 13px;
}
#fl-tab1 .fl-tab1-publish ul li a:hover{
	background: #ccc;
}
#fl-tab1 .fl-personal-dynamic ul li a,#fl-tab1 .fl-personal-dynamic ul li a:hover,#fl-tab1 .fl-personal-dynamic ul li a:focus{
	border:none;
	background: #B97A57;
}
.fl-comment .col-md-1 img{
	width:60px;
	height:60px;
	margin-top: 10px;
}
.fl-comment .fl-commentText{
	margin-top: 10px;
	border:2px solid #B97A57;
}
.fl-commentSubmit{
	border-bottom:2px solid #9D6452;
}
.fl-commentSubmit input{
	float: right;
	margin-bottom:10px;
}
.fl-comment .fl-replyArea textarea{
	margin-top: 10px;
	border:2px solid #B97A57;
}
.fl-comment .fl-replyArea input{
	float:right;margin: 5px 0;
	font-size: 13px;
}
.fl-comment .fl-commentHead img{
	width:40px;
	height:40px;
}

#fl-tab2 h4{
	
}
#fl-tab2 h4 p{
	font-size: 14px;
}
#fl-tab2 .fl-photoAlbum{
	width:90px;
	height:130px;
	border:7px solid #fff;
	cursor:pointer;
	box-shadow:1px 1px 1px #aaa;
	margin-bottom: 20px;
}
#fl-photoalbum-style div:nth-of-type(odd) img{
	transform: rotate(-15deg);
}
#fl-photoalbum-style div:nth-of-type(even) img{
	transform: rotate(15deg);
}
#fl-photoalbum-style div img:hover{
	transform: rotate(0deg);
}
#fl-tab2 .fl-photoAlbum:hover{
	box-shadow:1px 1px 7px #777;
}
#fl-tab2 .fl-photoAlbum-none{
	width:90px;
	height:130px;
	border:7px solid #fff;
	cursor:pointer;
	box-shadow:1px 1px 1px #aaa;
}
#fl-tab2 .fl-photoAlbum-none:hover{
	box-shadow:1px 1px 7px #777;
}
.fl-textcenter{
	text-align: center;
}
#fl-photoShow .warpper{
	width: 100%;
	margin:30px auto 100px auto;
	position: relative;
}
#fl-photoShow ul li{
	float: left;
	margin:5px;
}
#fl-photoShow ul li:nth-child(1){
	margin-left: 10px;
}
#fl-photoShow ul li:nth-child(even){
	margin-left: 30px;
}
#fl-photoShow ul li:nth-child(3n){
	margin-left: 20px;
}
#fl-photoShow ul li{
	background: #555555;
}
#fl-photoShow  ul li img{
	border:7px solid #fff;
	cursor:pointer;
	box-shadow:1px 1px 1px #aaa;
	/*background: #fff;*/
	transition: all  0.3s;
	opacity:1;
}
#fl-photoShow  ul li img:hover{
	box-shadow:1px 1px 7px #777;
	opacity: 0.9;
}

#fl-photoShow ul li:nth-child(even) img{
	height:40px;
}
#fl-photoShow ul li:nth-child(odd) img{
	height:60px;
}
#fl-photoShow ul li:nth-child(1) img{
	height:130px;
}
#fl-photoShow ul li:nth-child(5n) img{
	height:90px;
}
#fl-photoShow ul li:nth-child(6n) img{
	height:130px;
}
#fl-photoShow ul li:nth-child(7n) img{
	height:40px;
}
.fl-browsePhoto{
/*	display: inline-block;*/
	position: relative;
}
.fl-browsePhoto>input{
	position: absolute;
	right:0;
	top:0;
	opacity: 0;
}
#fl-upload-photo{
	position: relative;
}
.fl-btn-closeBulidUpload{
	/*padding: 0 10px;*/
	position: absolute;
	left:0;
	bottom: 5px;	
}
#fl-tab2 .fl-showPhoto{
	
}
.fl-tab3-left{
	background: #fff;
	margin-top:40px;
}
.fl-tab3-left>div img{
	width:80px;
	height:80px;
	border-radius: 50px;
	position: absolute;
	top:-30px;left:110px;
}
.fl-tab3-navbar span{
	float:right;
}
#fl-tab3 .fl-tab3-1{
	background: #fff;
	margin-right:20px;
}
#fl-tab3 .fl-tab3-base ul{
	margin-left:250px;
}
#fl-tab3 .fl-tab3-base ul li{
	line-height: 60px;
	height:60px;
}
.fl-tab3-details ul{
	margin-left:250px;
}
.fl-tab3-details ul li{
	line-height: 60px;
	height:60px;
}
.fl-bigPhotoshow-img{
	border:7px solid #eee;
}
#fl-bigPhotoshow{
	background: #000;
	position: fixed;
	top: 0;
	left:0;
	width:100%;
	height:100%;
	z-index: 9999;
	display: none;
}
.fl-bigPhotoshow-closebtn{
	float:right;
	margin:10px;
	background-color:#fff;
	cursor:pointer;
	color:#000;
}

/*textarea加鲜花 */
.fl-tab1-publish img{
	position: absolute;
	top:23px;
	right:0;
	width:200px;
	height:190px;
	opacity: 0.3;
}

@media (min-width: 768px){
	#fl-section-cover .fl-cover-img img{
		height: 330px;
	}
	#fl-section-cover .fl-cover-float .fl-cover-id{
		font-size: 20px;
	}
	#fl-section-cover .fl-cover-float .fl-cover-signature{
		cursor: pointer;
		font-size: 14px;
	}
	#fl-section-cover .fl-cover-float .fl-cover-icon{
		width:90px;
		height: 90px;
		cursor: pointer;
	}
	#fl-section-cover .fl-cover-float .fl-cover-icon:hover{
		border: 2px solid #ADADAD;
	}
	/*#fl-section-cover .fl-cover-button{
		width:70px;
		height:20px;
		font-size: 12px;
	}*/
	#fl-tabs h5{
		font-size:19px;
	}
	/*#fl-tab1 ul li a{
		font-size: 12px;
	}*/
}
@media (min-width: 992px){
	#fl-section-cover .fl-cover-img img{
		height: 400px;
	}
	#fl-section-cover .fl-cover-float .fl-cover-id{
		font-size: 22px;
	}
	#fl-section-cover .fl-cover-float .fl-cover-signature{
		cursor: pointer;
		font-size: 15px;
	}
	#fl-section-cover .fl-cover-float .fl-cover-icon{
		width:100px;
		height:100px;
	}
	#fl-tabs h5{
		font-size:20px;
	}
}
@media (min-width: 1200px){
	#fl-section-cover .fl-cover-img img{
		height: 440px;
	}
	#fl-section-cover .fl-cover-float .fl-cover-id{
		font-size: 24px;
	}
	#fl-section-cover .fl-cover-float .fl-cover-signature{
		cursor: pointer;
		font-size: 16px;
	}
	#fl-section-cover .fl-cover-float .fl-cover-icon{
		width:100px;
		height:100px;
	}
	#fl-tabs h5{
		font-size:21px;
	}
}