<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Itweb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisiterServlet</servlet-name>
    <servlet-class>servlet.RegisiterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisiterServlet</servlet-name>
    <url-pattern>/regisiterServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>SetCharacterEncodingFilter</filter-name>
    <filter-class>filter.SetCharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SetCharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ErrorServlet</servlet-name>
    <servlet-class>servlet.ErrorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorServlet</servlet-name>
    <url-pattern>/errorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>AlbumServlet</servlet-name>
    <servlet-class>servlet.AlbumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlbumServlet</servlet-name>
    <url-pattern>/albumServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonalServlet</display-name>
    <servlet-name>PersonalServlet</servlet-name>
    <servlet-class>servlet.PersonalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalServlet</servlet-name>
    <url-pattern>/personalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/uploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShareServlet</display-name>
    <servlet-name>ShareServlet</servlet-name>
    <servlet-class>servlet.ShareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShareServlet</servlet-name>
    <url-pattern>/shareServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>AjaxPhotoServlet</servlet-name>
    <servlet-class>servlet.ajax.PhotoSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxPhotoServlet</servlet-name>
    <url-pattern>/photoSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxShareServlet</display-name>
    <servlet-name>AjaxShareServlet</servlet-name>
    <servlet-class>servlet.ajax.ShareAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxShareServlet</servlet-name>
    <url-pattern>/shareAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxComAddServlet</display-name>
    <servlet-name>AjaxComAddServlet</servlet-name>
    <servlet-class>servlet.ajax.ComAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxComAddServlet</servlet-name>
    <url-pattern>/comAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComSelectServlet</display-name>
    <servlet-name>ComSelectServlet</servlet-name>
    <servlet-class>servlet.ajax.ComSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComSelectServlet</servlet-name>
    <url-pattern>/comSelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/userServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InformationServlet</display-name>
    <servlet-name>InformationServlet</servlet-name>
    <servlet-class>servlet.InformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InformationServlet</servlet-name>
    <url-pattern>/informationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InforSignatureServlet</display-name>
    <servlet-name>InforSignatureServlet</servlet-name>
    <servlet-class>servlet.ajax.InforSignatureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InforSignatureServlet</servlet-name>
    <url-pattern>/inforSignatureServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MakeFriendServlet</display-name>
    <servlet-name>MakeFriendServlet</servlet-name>
    <servlet-class>servlet.MakeFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeFriendServlet</servlet-name>
    <url-pattern>/makeFriendServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OtherPersonalServlet</display-name>
    <servlet-name>OtherPersonalServlet</servlet-name>
    <servlet-class>servlet.OtherPersonalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OtherPersonalServlet</servlet-name>
    <url-pattern>/otherPersonalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FriendAddServlet</display-name>
    <servlet-name>FriendAddServlet</servlet-name>
    <servlet-class>servlet.ajax.FriendAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendAddServlet</servlet-name>
    <url-pattern>/friendAddServlet</url-pattern>
  </servlet-mapping>
</web-app>